<p style="color: green"><%= notice %></p>

<%= render @idea %>

<div>
  <%= link_to "Edit this idea", edit_retro_idea_path(@idea) %> |
  <%= link_to "Back to ideas", retro_ideas_path %>

  <%= button_to "Destroy this idea", retro_idea_path(@idea), method: :delete %>
</div>
